.span.24.last
  = display_flash(:all)

- if @compose
  .span-24{:style => "margin: 10px 0 10px;"}
    .inner{:style => 'padding-left: 10px;'}
      %h4 To: #{@user.try(:handle)}
      - if @object.is_a?(Checkin)
        %h4 Re: Checkin at '#{@object.location.name}'
      - elsif @object.is_a?(PlannedCheckin)
        %h4 Re: Planned checkin at '#{@object.location.name}'

      = form_tag(messages_path, :id => 'new_message', 'data-url' => messages_path(:format => 'json')) do
        %h3 Message:
        = hidden_field_tag 'message[to_id]', @user.try(:id)
        - if @object.present?
          = hidden_field_tag 'message[checkin_id]', @object.try(:id)
        = text_area_tag 'message[body]', @body, :id => 'message_body', :class => 'autoresize countdown', :style => 'height: 30px;', :placeholder => 'your message here'
        %br
        %span#message_count 140
        %span#message_send= submit_tag 'Send', :id => 'message_send_submit'
