Just wanted to let you know that #{@checkin.user.try(:handle)} checked in at #{@checkin.location.try(:name)}, #{@checkin.location.try(:street_address)}, at #{@checkin.checkin_at.to_s(:time)}.

= render(:partial => 'footer', :locals => {:campaign => 'friend-realtime-checkin'})