Just wanted to let you know that #{@checkin.user.try(:handle)} checked in at #{@checkin.location.try(:name)}, #{@checkin.location.try(:street_address)}, at #{@checkin.checkin_at.to_s(:time)}.
%p
%p
Send a message:
%p
= link_to 'Be There Soon', Url.shorten_except_env(@bts_url, 'test')
-#%span{:style => 'margin: 0 10px;'} or
-#= link_to "Sorry, Can't Make It", Url.shorten_except_env(@cmi_url, 'test')
%p
%p
Comment on the checkin:
%p
= link_to "Love That Place", Url.shorten_except_env(@ltp_url, 'test')

= render(:partial => 'footer', :locals => {:campaign => 'friend-realtime-checkin'})