#{@poker.handle} wants #{@invitee.handle} to join Outlately.  Since you're friends with #{@invitee.handle}, we thought you might personally #{link_to('invite', invite_url)} #{@invitee.possessive_pronoun}.

= render(:partial => 'footer')

