Thanks for checking in at #{@checkin.location.try(:name)}. Here's who's out right now near you.
%br
%br

%table{:style => "width: 600px;", :cellpadding => "10"}
  - @checkins.each do |checkin|
    - user      = checkin.user
    - location  = checkin.location
    %tr
      %td{:style => 'width: 75px;'}
        = image_tag(user.try(:primary_photo_url), :size => '50x50', :alt => 'profile-avatar')
      %td{:style => 'width: 500px;'}
        -#= link_to(user.handle, user_url(user.id))
        = user.handle
        == &nbsp;
        - if user.member?
          = link_to('Share a Drink', share_drink_user_url(user.id, 'utm_campaign' => 'realtime-checkins', 'utm_medium' => 'email', 'utm_source' => 'outlately'))
        %br{:style => 'margin: 3px 0;'}
        = location.name

= render(:partial => 'footer')