Just wanted to let you know that #{@checkin.user.try(:handle)} checked in at #{@checkin.location.try(:name)}, #{@checkin.location.try(:street_city_state)}, at #{@checkin.checkin_at.to_s(:time)}.
%p
%p
Send a message:
%p
= link_to 'Be There Soon', Url.shorten(@bts_url)
-#%span{:style => 'margin: 0 10px;'} or
-#= link_to "Sorry, Can't Make It", Url.shorten(@cmi_url, 'test')

%p
%p
Comment on the checkin:
%p
= link_to "Love That Place", Url.shorten(@ltp_url)

%p
%p
Send a Message:
%p
= link_to "Compose Message", Url.shorten(@compose_url)
