- javascript("highcharts")
- javascript('admin_charts')
- javascript('admin_checkins')
- stylesheet('admin')

#page-header
  .span-24.last
    = render(:partial => 'admin_links')

#content.home-content.clearfix
  #checkins{:style => 'width: 900px; height: 750px;'}

:javascript
  var dstart        = #{@dstart.to_datetime.to_i * 1000};
  var non_checkins  = #{@non_checkins};
  var mem_checkins  = #{@mem_checkins};
  var gal_checkins  = #{@gal_checkins};
  var guy_checkins  = #{@guy_checkins};
  var todos         = #{@todos};