- javascript("highcharts")
- javascript('admin_charts')
- javascript('admin_users')
- stylesheet('admin')

#page-header{:style => 'background: #fff;'}
  .span-24.last
    = render(:partial => 'admin_links')

#content.home-content.clearfix
  #users{:style => 'width: 700px; height: 300px;'}


:javascript
  var mem_males     = #{@mem_males};
  var mem_females   = #{@mem_females};
  var non_males     = #{@non_males};
  var non_females   = #{@non_females};
