- stylesheet('admin')
- javascript('badges')

#page-header
  .span-24.last
    = render(:partial => 'admin/admin_links')

%hr.space

#admin-content.clearfix
  .span.24.last
    = display_flash(:all)

  .span-24.last#add_badge{:style => 'margin-bottom: 20px;'}
    = link_to 'Add Badge', new_badge_path

  .span-24.last#badges
    - @badges.each do |badge|
      .span-24.last#badge{:class => cycle('even', 'odd')}
        .span-8.prepend-1
          #name
            #{badge.name} (#{badge.badgings.count})
            %span{:style => 'margin-left: 3px;'}= link_to 'Edit', edit_badge_path(badge)
            %span{:style => 'margin-left: 5px;'}= link_to '+ Tags', '#', :id => 'show_search_tags'
        .span-15.last
          #tags{:style => 'font-weight: normal;'}
            - badge.tag_names.each do |tag_name|
              = tag_name
              = link_to 'x', remove_tags_badge_path(badge, :tags => tag_name, :return_to => request.fullpath), :method => :put, :id => 'remove_tag_name', :style => 'margin-right: 5px; color: #f00;'
        .span-24.last#search_tags{:style => 'display:none;'}
          .span-8.prepend-1
            = text_field_tag :search, '', :id => 'search_tags_autocomplete',  'data-search-url' => tag_search_badges_path(:format => 'json'), :placeholder => 'e.g. food', :style => 'width: 150px;'
            %span#hint{:style => 'margin-left: 5px; color: #777;'}
          .span-15.last
            %span#add_tags{:style => 'font-weight: bold; color: #333;'} &nbsp;
            %span#apply_tags{:style => 'display: none; margin-left: 5px;'}= link_to 'Apply', '#', "data-url" => add_tags_badge_path(badge)


