- stylesheet('admin')
- javascript('badges')

#page-header
  .span-24.last
    = render(:partial => 'admin/admin_links')
    %h2= @badge.new_record? ? 'New Badge' : 'Edit Badge'

#admin-content.clearfix
  .span-24.last#new_badge
    = simple_form_for(@badge) do |f|
      = f.input :name, :class => 'required'
      = f.input :tagline, :class => 'required'
      = f.submit @badge.new_record? ? 'Create' : 'Update', :style => 'margin-left: 50px; font-size: 1.5em;'
      == or
      = link_to 'Cancel', admin_badges_path, :style => 'color: #00F;'
