.span-23.prepend-1.mat
  %h2== Delayed Jobs
  %h4
    = link_to 'Backup', backup_job_path, :class => 'admin'
    ==&nbsp|&nbsp;
    = link_to 'Sphinx', sphinx_job_path, :class => 'admin'

%hr.space

.span.24.last
  = display_flash(:all)
  = display_alerts

.span-23.prepend-1.last
  - @jobs.each do |job|
    .span-23.last#job.padding-top-10
      = job.inspect
  