-# deprecated, lets keep it for now
.span-23.prepend-1.last{:style => 'padding-top: 10px;'}
  - @checkins.each_pair do |source, checkins|
    .span-12.last#checkins_banner{:style => 'background: #f3f3f3; padding: 10px 5px 10px 10px; margin-bottom: 5px; margin-top: 10px;'}
      %h4.bottom== #{source.titleize} checkins / #{checkins.size}
    -# sort checkins most recent first
    - gsize  = checkins.size.even? ? checkins.size/2 : checkins.size/2+1
    - groups = checkins.sort_by{|c| -1 * c.checkin_at.to_i}.in_groups_of(gsize)
    .span-23.last.padding-bottom-5#checkins
      - 0.upto(gsize-1) do |i|
        - checkin0 = groups[0][i]
        - checkin1 = groups[1][i] rescue nil
        .span-10#checkin
          .span-6
            = checkin0.location.try(:name)
          .span-4.last
            = checkin0.checkin_at.to_s(:datetime_short)
        .span-10.prepend-1.last#checkin
          - if checkin1
            .span-6
              = checkin1.location.try(:name)
            .span-4.last
              = checkin1.checkin_at.to_s(:datetime_short)
