%div{:style => 'display:none;'}
  #dialog-profile-meetup{'data-handle' => user.try(:handle), 'data-user-id' => user.try(:id).to_i}
    %h3 To: #{user.try(:handle)}
    - message = Message.new
    - message.to = user.try(:handle)
    = form_tag(messages_path, :id => 'new_message', 'data-url' => messages_path(:format => 'json')) do
      %h3 Message:
      = text_area_tag 'message[body]', '', :id => 'message_body', :style => 'height: 30px;'
      = hidden_field_tag 'message[to]', user.try(:handle)
      %br
      %span#message_count 140
      %span#message_send= submit_tag 'Send'