- title('Users')
- stylesheet('admin')
- javascript('admin')

#page-header
  .span-24.last
    = render(:partial => 'admin/admin_links')

#admin-content.clearfix
  .span.24.last
    = display_flash(:all)
  .span-24.last
    - if @members.present? and @non_members.present?
      %h4
        = [pluralize(@members, 'member'), pluralize(@non_members, 'non-members')].join(', ')
    = simple_form_for(@search, :url => admin_users_path) do |f|
      .span-10
        = f.input :name_contains, :required => false, :input_html => {:style => 'width: 150px;'}
        = f.input :member_at_greater_than, :required => false, :label => 'Member since', :input_html => {:style => 'width: 150px;', :value => @search.member_at_greater_than.try(:to_s, :date_yyyymmdd), :id => 'member_at_datepicker'}, :hint => "e.g. 20110201"
        = f.input :created_at_greater_than, :required => false, :label => 'User since', :input_html => {:style => 'width: 150px;', :value => @search.created_at_greater_than.try(:to_s, :date_yyyymmdd), :id => 'created_at_datepicker'}, :hint => "e.g. 20110201"
      .span-12.last
        = f.input :city_name_contains, :required => false, :label => 'City', :input_html => {:style => 'width: 150px;'}
        = f.input :member_is_true, :required => false, :label => 'Member', :hint => "1 or true for members; 0 or false otherwise", :input_html => {:style => 'width: 50px;', :value => @search.try(:member_is_true) }
        = f.input :foursquare_id_is_present, :required => false, :label => 'Foursquare', :hint => "1 for yes", :input_html => {:style => 'width: 50px;', :value => @search.try(:foursquare_id_is_present) }
      .span-23.last
        = f.submit 'Search', :style => 'margin: 0px;'

  .span-24.last#users
    - if @users.respond_to?(:total_pages)
      .span-23.prepend-1#pagination{:style => 'margin: 20px 0;'}
        = will_paginate(@users, :page_links => true, :inner_window => 1, :outer_window => 1)

    - @users.each do |user|
      - klasses = []
      - klasses.push(user.state)
      .span-24.last.user{:class => klasses}
        .span-5.prepend-1.name
          %h4.bottom= link_to user.name.present? ? user.name : user.handle, user_path(user), :id => 'link_user_profile'
          %span{:style => 'font-size: 0.9em; color: #777;'}= [user.member? ? "Member" : "User", user.city.try(:name)].compact.join(" : ")
        .span-4
          Age: #{user.age.to_i}
          %br
          Foursquare: #{user.foursquare_id}
        .span-3
          = pluralize(user.checkins_count, 'checkin')
          %br
          = pluralize(user.points, 'point')
        .span-5
          %span{:style => 'font-size: 0.9em;'} Signup On: #{user.created_at.to_s(:date_yyyymmdd)}
          - if user.member?
            %br
            %span{:style => 'font-size: 0.9em;'} Member On: #{user.member_at.try(:to_s, :date_yyyymmdd)}
        .span-5.last
          = user.state.titleize
          = user.active? ? link_to('Disable', disable_user_path(user, :return_to => request.fullpath), :method => :put, :id => 'toggle_state') : link_to('Enable', activate_user_path(user, :return_to => request.fullpath), :method => :put, :id => 'toggle_state')
