#profile-info.clearfix
  = image_tag(@user.try(:primary_photo_url), :size => '75x75', :id => 'user-avatar')
  #profile-user-info
    %h2= @user.handle
    %h3= @user.city.try(:name)
    %h4= pluralize(@user.followers_count, "Follower")

%hr.space

.span.24.last
  = display_flash(:all)
