#profile-info.clearfix
  = image_tag(@user.try(:primary_photo_url), :size => '50x50', :id => 'user-avatar')
  #profile-user-info
    %h2= @user.handle
    %h3= @user.city.try(:name)
    %h5= pluralize(@user.followers_count, "Follower")
  .actions
    = image_tag("/images/actions.png", :alt => 'actions menu')
    %span
      %ul
        %li= @user.handle
        - if @user.member?
          %li= link_to 'Send Message', '#', :class => 'message modal-trigger', :rel => '#user-message-overlay', 'data-id' => @user.id, 'data-handle' => @user.handle
        - else
          %li= link_to "Invite #{@user.him_her}", invite_path
        - unless @user == current_user
          -# check if I'm following this user
          - if current_user.following_ids.include?(@user.id)
            %li= link_to 'Unfollow', unfollow_user_path(@user, :return_to => request.fullpath), :method => :put
          - elsif current_user.friend_set.include?(@user.id)
            -# users can follow friends
            %li= link_to 'Follow', follow_user_path(@user, :return_to => request.fullpath), :method => :put

.span-16.last.mask
  = display_flash(:all)

- if @users_out.keys.include?(@user.id)
  - checkin_ids = @users_out[@user.id]
  - checkin     = Checkin.find_by_id(checkin_ids[0])
  .span-16.last
    #out-now
      .tl
      .bl
      .tr
      .br
      #{@user.handle} is out now at #{checkin.try(:location).try(:name)}

.left-col.mask
  #profile-recent-checkins.clearfix
    #recent-checkins-title.titlebar.left Recent Checkins
    %ul
      - @checkins.each do |checkin|
        %li
          = link_to checkin.location.name, '#'
          %small= checkin_time_ago(checkin.checkin_at)

  #profile-following.clearfix
    #profile-following-title.titlebar.left Outlate.ly Following
    - @following.each do |user|
      = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle

  #profile-following.clearfix
    #profile-following-title.titlebar.left Outlate.ly Followers
    - if @followers.any?
      - @followers.each do |user|
        = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle
    - else
      %h4{:style => 'margin: 10px;'} No Followers

  #profile-following.clearfix
    #profile-following-title.titlebar.left Facebook Friends
    - @friends.each do |user|
      = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle

- if @user.member?
  .right-col.mask
    #favorite-places
      #favorite-places-title.titlebar.right Favorite Places
      %ul
        - @my_spots.each do |location|
          %li
            = link_to location.name, '#'

    #friends-favorite-places
      #friends-favorite-places-title.titlebar.right Friends&apos; Favorite Places
      %ul
        - @friend_spots.each do |location|
          %li
            = link_to location.name, '#'

-# user message overlay
= render(:partial => 'shared/user_message_overlay', :locals => {:sender => current_user})