- stylesheet 'users'
- stylesheet 'map'
-#- javascript 'jquery.cycle.all.min'
- javascript 'users'
- if @checkins.try(:any?)
  - javascript "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_KEY}"
  - javascript 'mapiconmaker', 'markermanager'
  - javascript 'jquery.metadata'
  - javascript 'jquery.jmapping.min'

- content_for :mat do
  .span-23.last.padding-bottom-10
    .span-16
      %h2
        = user_display_name(@user, current_user, 'Me')
        - if has_privilege?('manage users', @user)
          %span#edit_user_link= link_to 'Edit', edit_user_path(@user), :class => 'small'
    .span-7.last
      - if current_user == @user
        = render(:partial => 'shared/oauth_links')

%hr.space

.span-24.last
  = display_flash(:all)
  = display_alerts

-# show user profile basics
.span-24.last.profile#user_profile_basics
  .span-2.prepend-1#user_profile_picture= image_tag @user.primary_photo_url, :size => '50x50'
  .span-5{:style => 'padding-top: 10px;'}
    #user_profile_handle= @user.handle
    #user_profile_data= user_profile_blurb(@user)
    %br
    #user_geo_cloud
      - if @geo_cloud.any?
        %h4.bottom{:style => 'color: #F60;'} My Cities
      - @geo_cloud.each_with_index do |tuple, index|
        - city_id   = tuple[0]
        - city_name = tuple[1][:name]
        %span{:class => "city#{index+1}"}= link_to city_name, '#', :id => 'show_checkin_city', :class => 'admin', 'data-city-id' => city_id
  -# show map of user checkins
  .span-15.prepend-1.last#checkin_map
    .span-15.last.map.profile#map
    .span-15.last#map-side-bar.hide
      = render(:partial => 'locations/locations_map', :locals => {:locations => @locations, :city_id => @city_id})

  -# disable matches for now
  - if false #if @viewer == @user
    -# show matches when its your own profile
    .span-2.border#user_profile_matches_title
      %h4{:style => 'padding-top: 15px;'}== Matches
    .span-10.prepend-1.last#user_profile_matches{:style => 'height: 70px;'}
      = render(:partial => 'users/matches', :locals => {:users => @matches || []})

%hr.space

-# show user badges
- unless @badges.blank?
  .span-24.last#badges
    .span-3.prepend-1.border
      %h4= I18n.t("badges.title")
      %span{:style => 'font-size: 0.9em; color: #777; padding-right: 3px;'}= I18n.t("badges.help")
    .span-19.prepend-1.last
      = render(:partial => 'badges', :locals => {:user => @user, :badges => @badges})

  %hr.space

-# show user checkins
.span-24.last#checkins
  .span-3.prepend-1.border
    %h4== Checkins
  .span-20.last
    - @checkins.each do |checkin|
      .span-20.last.location
        = render(:partial => 'locations/location', :locals => {:location => checkin.location, :tag_link => true, :edit_link => false})

%hr.space

.span-24.last
  .span-3.prepend-1.border
    %h4== Tags
  .span-19.prepend-1.last#tags
    - tags = @user.checkin_locations.collect(&:tag_list).flatten.uniq.compact.sort
    = tags.join(', ')

:javascript
  var growls        = #{flash[:growls].blank? ? nil.to_json : flash[:growls].to_json};
  var checkin_map   = #{true};
