- title('Profile')
- stylesheet('map')
- javascript ('users')
- javascript('jquery.autoresize.min')

- if @checkins.try(:any?)
  - javascript "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_KEY}"
  - javascript 'mapiconmaker', 'markermanager'
  - javascript 'jquery.metadata'
  - javascript 'jquery.jmapping.min'

- if @meetup
  #page-header
    #profile-header
      = image_tag(@user.try(:primary_photo_url), :size => '50x50', :alt => 'profile-avatar')
      %h3= @user.handle
      %h4= @user.city.try(:name)
    %ul#profile-nav
      %li= link_to("Meet Up", '#dialog-profile-meetup', :id => 'profile-meetup')

#content.clearfix
  -##profile-photos
    -# todo
  .half-col
    %h4
      My Social DNA
      = link_to("What is this?", '#dialog-whatis-social-dna', :id => 'whatis-social-dna')
    %ul#profile-social-dna
      = render(:partial => 'badges', :locals => {:user => @user, :badges => @badges})

  .half-col.right
    %h4 Where I've Been
    #map.user_profile
      -# map here
    #map-side-bar.hide
      = render(:partial => 'locations/locations_map', :locals => {:locations => @locations, :city_id => @city_id})

  .full-col.clearfix
    %h4 Recently Checked In At
    #profile-label-tags Tags
    #profile-label-dna Social DNA

    %ul#profile-checked-in-at
      = render(:partial => 'checkins', :locals => {:checkins => @checkins})

= render(:partial => 'users/dialog_profile_meetup', :locals => {:user => @user})
= render(:partial => 'users/dialog_whatis_social_dna')
