- javascript 'http://www.google.com/jsapi'

#page-header
  #profile-header
    = image_tag(@user.try(:primary_photo_url), :size => '50x50', :alt => 'profile-avatar')
    %h3= @user.handle
    %h4= @user.city.try(:name)



- if @user.member?
  -# show following

  -# calculate margin based on following size
  - rows   = @following.size / 20
  - margin = 60 + (rows*40);
  .span-24{:style => "margin: 10px 0 #{margin}px;"}
    .inner{:style => 'padding-left: 10px;'}
      %h2 Following
      .following.tipsy
        - @following.each do |user|
          = link_to image_tag(user.primary_photo_url, :size => '40x40'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle

  .span-24.last{:style => 'margin: 20px 0 60px;'}
    .span-12
      .inner{:style => 'padding-left: 10px;'}
        %h2 Friends Out Now
        .friends-out-now.tipsy
          - if @friends_out_now.any?
            - @friends_out_now.keys.each do |user|
              - checkins = @friends_out_now[user]
              - location = checkins.first.location
              = link_to image_tag(user.primary_photo_url, :size => '40x40'), user_path(user), :style => 'margin: 0 2px;', :title => "#{user.handle} @ #{location.try(:name)}"
          - else
            %dfn.large No friends currently out ... invite them or tell them to check in

    .span-12.last
      .inner
        %h2 Friends Out Recently
        .friends-out-recently.tipsy
          - if @friends_out_recently.any?
            - @friends_out_recently.keys.each do |user|
              - checkins = @friends_out_recently[user]
              - location = checkins.first.location
              = link_to image_tag(user.primary_photo_url, :size => '40x40'), user_path(user), :style => 'margin: 0 2px;', :title => "#{user.handle} @ #{location.try(:name)}"
          - else
            %dfn Looks like your friends haven't been very active recently

- else
  .span-24.last{:style => "margin: 10px 0;"}
    .inner{:style => 'padding-left: 10px;'}
      %h2 Invite #{@user.him_her.titleize}
      %em #{link_to('Invite', invite_path)} #{current_user.friend_set.include?(@user.id) ? 'your friend' : ''} #{@user.handle} to join Outlately.

.span-24.last{:style => 'margin: 20px 0;'}
  - if @my_spots.present? and @my_spots.any?
    .span-12
      .inner{:style => 'padding-left: 10px;'}
        %h2 Favorite Spots
        - @my_spots.each do |location|
          .user-location{:style => 'margin: 10px 0;'}
            %h4.bottom= location.name
            %span.small= location.street_city

  - if @friend_spots.present? and @friend_spots.any?
    .span-12.last
      %h2 Friends Favorite Spots
      - @friend_spots.each do |location|
        .user-location{:style => 'margin: 10px 0;'}
          %h4.bottom= location.name
          %span.small= location.street_city

- if @user.member?
  .span-24.last{:style => 'margin: 10px 0;'}
    .inner{:style => 'padding-left: 10px;'}
      .half-col
        %h4
          Social DNA
          = link_to("What is this?", '#dialog-whatis-social-dna', :id => 'whatis-social-dna')
        %ul#profile-social-dna
          = render(:partial => 'badges', :locals => {:user => @user, :badges => @badges})
