- stylesheet 'users'
- javascript 'jquery.cycle.all.min'
- javascript 'users'

- content_for :mat do
  %h2
    == #{user_display_name(@user, current_user, 'Me')}
    %span{:style => 'font-size: 0.5em; padding-left: 3px;'}= link_to 'Edit', edit_user_path(@user), :class => 'small'
  - if current_user == @user
    %h4= render(:partial => 'shared/oauth_links')

%hr.space

.span-24.last
  = display_flash(:all)
  = display_alerts

-# show user basic profile info, and matches
.span-24.last#basics
  .span-2.prepend-1#picture
    = image_tag @user.primary_photo_url, :size => '50x50'
  .span-4#user{:style => 'padding-top: 10px;'}
    #handle= @user.handle
    #data= user_profile_blurb(@user)
  .span-2.border
    %h4{:style => 'padding-top: 15px;'}== Matches
  .span-10.prepend-1.last{:style => 'height: 70px;'}
    = render(:partial => 'users/matches', :locals => {:users => @matches || []})

%hr.space

-# show user badges
- unless @tag_badges.blank?
  .span-24.last#badges
    .span-3.prepend-1.border
      %h4= I18n.t("badges.title")
    .span-19.prepend-1.last
      = render(:partial => 'badges', :locals => {:user => @user, :badges => @tag_badges})

  %hr.space

-# show user checkins
.span-24.last#checkins
  .span-3.prepend-1.border
    %h4== Checkins
  .span-20.last
    - @checkins.each do |checkin|
      .span-20.last
        = render(:partial => 'locations/location', :locals => {:location => checkin.location, :source => checkin.source_type, :import => false})

%hr.space

.span-24.last
  .span-3.prepend-1.border
    %h4== Tags
  .span-19.prepend-1.last#tags
    - tags = @user.locations.collect(&:tag_list).flatten.uniq.compact.sort
    = tags.join(', ')
          