- stylesheet 'users'
- javascript 'jquery.cycle.all.min'
- javascript 'users'

- content_for :mat do
  .span-23.last.padding-bottom-10
    .span-16
      %h2
        = user_display_name(@user, current_user, 'Me')
        - if has_privilege?('manage users', @user)
          %span#edit_user_link= link_to 'Edit', edit_user_path(@user), :class => 'small'
    .span-7.last
      - if current_user == @user
        = render(:partial => 'shared/oauth_links')

%hr.space

.span-24.last
  = display_flash(:all)
  = display_alerts

-# show user profile basics
.span-24.last#user_profile_basics
  .span-2.prepend-1#user_profile_picture
    = image_tag @user.primary_photo_url, :size => '50x50'
  .span-4{:style => 'padding-top: 10px;'}
    #user_profile_handle= @user.handle
    #user_profile_data= user_profile_blurb(@user)
  -# disable matches for now
  - if false #if @viewer == @user
    -# show matches when its your own profile
    .span-2.border#user_profile_matches_title
      %h4{:style => 'padding-top: 15px;'}== Matches
    .span-10.prepend-1.last#user_profile_matches{:style => 'height: 70px;'}
      = render(:partial => 'users/matches', :locals => {:users => @matches || []})

%hr.space

-# show user badges
- unless @badges.blank?
  .span-24.last#badges
    .span-3.prepend-1.border
      %h4= I18n.t("badges.title")
    .span-19.prepend-1.last
      = render(:partial => 'badges', :locals => {:user => @user, :badges => @badges})

  %hr.space

-# show user checkins
.span-24.last#checkins
  .span-3.prepend-1.border
    %h4== Checkins
  .span-20.last
    - @checkins.each do |checkin|
      .span-20.last.location
        = render(:partial => 'locations/location', :locals => {:location => checkin.location, :tag_link => true, :edit_link => false})

%hr.space

.span-24.last
  .span-3.prepend-1.border
    %h4== Tags
  .span-19.prepend-1.last#tags
    - tags = @user.checkin_locations.collect(&:tag_list).flatten.uniq.compact.sort
    = tags.join(', ')

:javascript
  var growls = #{flash[:growls].blank? ? nil.to_json : flash[:growls].to_json};
