- javascript 'http://www.google.com/jsapi'

#page-header
  %h2 #{@user.handle} Data Visualization

.span-24.last{:style => 'margin: 20px 0;'}
  .span-10.colborder
    .inner{:style => 'padding-left: 10px;'}
      %h2 Favorite Spots
      - locations = @user.checkin_locations.order("my_checkins desc").limit(5)
      - locations.each do |location|
        .user-location{:style => 'margin: 10px 0;'}
          %h4.bottom= location.name
          %span.small= location.street_city

  .span-13.last
    %h2 Checkin Velocity
    #checkins-chart

.span-24{:style => 'margin-bottom: 40px;'}
  .inner{:style => 'padding-left: 10px;'}
    %h2 Following
    .following.tipsy
      - @following.each do |user|
        = link_to image_tag(user.primary_photo_url, :size => '40x40'), visual_user_path(user), :style => 'margin: 0 2px;', :title => user.handle

.span-24.last{:style => 'margin: 30px 0;'}
  .span-10.colborder
    .inner{:style => 'padding-left: 10px;'}
      %h2 Social DNA
      Social DNA badges go here
  
  .span-13.last
    %h2.bottom Outlately Meter
    %dfn.small checkin more to boost your outlately factor
    #social-gauge{:style => 'margin: 20px 0;'}

:javascript
  var checkins_by_month = #{@checkins_by_month.to_json};
  var badges_count      = #{@badges_count};
  var badges_total      = #{@badges_total};

  google.load('visualization', '1', {packages: ['corechart', 'gauge']});
  google.setOnLoadCallback(drawCheckinsChart);
  google.setOnLoadCallback(drawSocialGauge);

  function drawCheckinsChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Date');
    data.addColumn('number', 'Checkins');

    if (checkins_by_month.length == 0) { return }

    data.addRows(checkins_by_month.length);
    for (i=0; i < checkins_by_month.length; i++) {
      // add date and checkins columns
      data.setValue(i, 0, checkins_by_month[i][0]);
      data.setValue(i, 1, checkins_by_month[i][1]);
    }

    var chart = new google.visualization.LineChart(document.getElementById('checkins-chart'));
    chart.draw(data, {width: 500, height: 240, title: '', legend:'none'});
  }

  function drawSocialGauge() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(1);
    data.setValue(0, 0, 'Coolness');
    data.setValue(0, 1, badges_count);

    var chart   = new google.visualization.Gauge(document.getElementById('social-gauge'));
    var options = {width: 400, height: 120, redFrom: 90, redTo: 100, yellowFrom:75, yellowTo: 90, minorTicks: 5,
                   max: badges_total};
    chart.draw(data, options);
  }