- visible = 'visible' unless local_assigns[:visible]

- objects.each do |checkin|
  - user      = checkin.user
  - location  = checkin.location
  %li.checkin{'data-id' => checkin.id, 'data-location-id' => location.id, :class => [visible, 'not-counted']}
    = render(:partial => 'home/todo_pick_date', :locals => {:location => location})
    = link_to image_tag(user.primary_photo_url, :size => '50x50', :alt => 'social stream avatar'), user_path(user)
    %h4
      = user.handle
      %small= checkin_time_ago(checkin.checkin_at)
    %h3= truncate(location.name, :length => 33)
    - if @version == 2
      %div#more-details{"data-url" => details_user_path(user, :format => 'js')}
        >
      %div#less-details{:style => 'display: none;'}
        <
    - else
      %div#actions
        = render(:partial => 'home/actions', :locals => {:user => user, :location => location, :object => checkin})
