- visible = 'show' unless local_assigns[:visible]

- objects.each do |checkin|
  - user      = checkin.user
  - location  = checkin.location
  %li.checkin{'data-id' => checkin.id, 'data-location-id' => location.id, :class => [visible, 'not-counted']}
    = image_tag(user.primary_photo_url, :size => '50x50', :alt => 'social stream avatar')
    %h4
      = user.handle
      %small= checkin_time_ago(checkin.checkin_at)
    %h3= location.name
    %div#actions
      = render(:partial => 'home/actions', :locals => {:user => user, :location => location})
