- visible   = 'show' unless local_assigns[:visible]
- user      = checkin.user
- location  = checkin.location

.span-13.checkin[checkin]{'data-id' => checkin.id, :class => [visible, 'not-counted']}
  .span-2#picture
    -# link picture to user profile
    = link_to image_tag(user.primary_photo_url, :size => '50x50', :alt => "#{user.handle}"), user_path(user)
  .span-8{:style => 'font-size: 0.9em;'}
    -# link handle to user profile
    #checkin_user_location #{link_to user.handle, user_path(user)} : #{truncate(location.name, :length => 35)}
    #checkin_city= location.city
  .span-3.last.hide#checkin_action_wrapper
    - unless user == current_user
      -# show actions for other user's checkins
      - if current_user.locationships.where({:my_checkins.gt => 0} | {:todo_checkins.gt => 0}, :location_id => location.id).count == 0
        -# user has not checked in here or plans to go here
        = link_to I18n.t("home.stream.plan_location"), '#', :class => 'admin', :id => 'checkin_plan', "data-path" => add_todo_location_path(location.id)
        %span.hide#checkin_plan_pending Updating ...
        %span.hide#checkin_plan_added Added
        %br
      -# show meet him/her link
      = link_to I18n.t("home.stream.meet_user", :name => user.possessive_pronoun), user_path(user), :class => 'admin', :id => 'meet_user'
