- visible = 'visible' unless local_assigns[:visible]

- objects.each do |shout|
  - user      = shout.user
  - location  = shout.location
  %li.shout{'data-id' => shout.id, 'data-location-id' => location.id, :class => [visible, 'not-counted']}
    = render(:partial => 'home/todo_pick_date', :locals => {:location => location})
    = image_tag(user.primary_photo_url, :size => '50x50', :alt => 'social stream avatar')
    %h4
      = user.handle
      %small= truncate(shout.text, :length => 30)
    %h3= truncate(location.name, :length => 35)
    %div#actions
      = render(:partial => 'home/actions', :locals => {:user => user, :location => location})
