- visible = 'visible' unless local_assigns[:visible]

- objects.each do |todo|
  - user      = todo.user
  - location  = todo.location
  %li.todo{'data-id' => todo.id, 'data-location-id' => location.id, :class => [visible, 'not-counted']}
    = render(:partial => 'home/todo_pick_date', :locals => {:location => location})
    = link_to image_tag(user.primary_photo_url, :size => '50x50', :alt => 'social stream avatar'), user_path(user)
    %h4
      = user.handle
      %small= todo.going.downcase
    %h3= truncate(location.name, :length => 35)
    - if @map
      %div#actions
        = render(:partial => 'home/actions', :locals => {:user => user, :location => location, :object => todo, :plan => :join})
    - else
      %div.closed{"data-url" => whatnow_todo_path(todo, :format => 'js')}

