- title('Home')
- stylesheet('map')
- javascript('home')

- if user_signed_in? and @objects.try(:any?)
  - javascript "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_KEY}"
  - javascript 'mapiconmaker'
  - javascript 'markermanager'
  - javascript 'jquery.metadata'
  - javascript 'jquery.jmapping.min'
  - javascript 'stream'

#page-header
  %h2 #{@city.try(:name)} Social Stream
  -##city-menu
    -#- if @my_cities.present?
      -#= render(:partial => 'home/cities', :locals => {:city_names => @my_cities.sort, :current_city => @city})

  %ul#social-stream-nav
    = render(:partial => 'stream_header', :locals => {:streams => @streams, :current_stream => @stream})

#content.home-content.clearfix
  .half-col
    %ul#social-stream
      - @objects.sort_by{ rand }.each do |object|
        - case object.class.to_s.downcase
        - when 'checkin'
          = render(:partial => 'home/checkins', :locals => {:objects => [object]})
        - when 'locationship'
          = render(:partial => 'home/todos', :locals => {:objects => [object]})

  .half-col.right
    #map.home
      -# map is here
    #popular-cities
      = render(:partial => 'city_cloud', :locals => {:cities => @pop_cities})
    #map-side-bar.hide
      = render(:partial => 'locations/locations_map', :locals => {:locations => @objects.collect(&:location)})

:javascript
  var stream_map        = #{user_signed_in?};
  var max_objects       = #{@max_objects || 0};
  var max_visible       = #{@max_visible || @max_objects || 0};
  var geo_checkins_path = "/users/#{@user.try(:id)}/checkins/geo:#{@city.try(:lat).to_f}..#{@city.try(:lng).to_f}/radius:#{@radius.to_i}/#{@stream}"
  var geo_todos_path    = "/users/#{@user.try(:id)}/todos/geo:#{@city.try(:lat).to_f}..#{@city.try(:lng).to_f}/radius:#{@radius.to_i}/#{@stream}"
