- title('Home')
- stylesheet('map')
- if user_signed_in?
  - javascript "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_KEY}"
  - javascript 'mapiconmaker', 'markermanager'
  - javascript 'jquery.metadata'
  - javascript 'jquery.jmapping.min'

.span-23.prepend-1.mat
  %h2== Home

%hr.space

.span.24.last
  = display_flash(:all)
  = display_alerts

- if user_signed_in?
  -# check oauths
  - if current_user.facebook_id.blank?
    .span-23.prepend-1.last
      %h4= link_to "Link your Facebook account", user_oauth_authorize_url(:facebook), :class => 'admin'
  - if current_user.foursquare_id.blank?
    .span-23.prepend-1.last
      %h4= link_to "Link your Foursquare account", oauth_initiate_path(:foursquare), :class => 'admin'
  - if current_user.twitter_id.blank?
    .span-23.prepend-1.last
      %h4= link_to "Link your Twitter account", oauth_initiate_path(:twitter), :class => 'admin'

- else
  .span-23.prepend-1.last
    %h2#tagline{:style => 'color: #00B;'}
      == 'You are what you do'
    %h2#tagline{:style => 'color: #00B;'}
      == 'Meet people who do, not say'
    %h2#tagline{:style => 'color: #00B;'}
      == 'The love of your life is one check-in away'
    %h3{:style => 'padding-top: 40px;'}
      -# always sign in with facebook
      == Try the beta by signing in with your
      = link_to 'Facebook account', user_oauth_authorize_url(:facebook), :class => 'admin'
      -#== or
      -#= link_to "Foursquare account", oauth_initiate_path(:foursquare), :class => 'admin'  

- if user_signed_in?
  .span-23.prepend-1.last#suggestions
    - if current_user.suggestions.active.count > 0
      %h3== You have #{link_to(pluralize(current_user.suggestions.active.count, 'suggestion'), suggestions_path, :style => 'color: #0000BB;')}
    - else
      %h3== No suggestions at the moment, but we're working on finding you some.

  .span-23.prepend-1.last
    #map
    #map-side-bar
      - @locations.each do |location|
        - next unless location.mappable?
        .map-location{'data-jmapping' => "{id: #{location.id}, point: {lat: #{location.lat}, lng: #{location.lng}}, category: 'Location'}"}
          = link_to location.name, '#', :class => 'map-link', :style => 'color: #999;'
          .info-box
            %p== #{location.name}, #{location.city}

:javascript
  var mapping = #{user_signed_in?};
  $(document).ready(function() {
    if (mapping) { $('#map').jMapping(); }
  });