- javascript('users_settings')

#page-header
  .span-24.last
    .span-16
      %h2 My Settings
    .span-7.last
      = render(:partial => 'shared/oauth_links')

#content.clearfix
  .span.24.last
    = display_flash(:all)
    = display_alerts

  - if @show_handle_message
    .span-23.prepend-1.last#handle_message
      %h4{:style => 'line-height: 1.5em;'}
        == Choose a different handle name if this one doesn't work for you.
        == You can change it later as well.

  .span-24.last
    -# initialize nested objects
    - @user.email_addresses.build if @user.email_addresses_count == 0
    - @user.city ||= City.new
    - @user.build_availability if @user.availability.blank?

    = simple_form_for(@user, :url => settings_path(:return_to => @show_handle_message ? root_path : nil)) do |f|
      -# handle can not be changed
      -#.span-24.last
        -# handle
        -#= f.input :handle, :hint => 'your name on the site'
      -# gender and orientation
      .span-24.last
        = f.input :gender, :collection => [['Female', 'female'], ['Male', 'male']], :selected => @user.gender_name
      .span-24.last
        = f.input :orientation, :collection => [['Gay', 'gay'], ['Straight', 'straight']], :selected => @user.orientation_name
      -# birthdate
      .span-24.last
        = f.input :birthdate, :as => :date, :start_year => Date.today.year - 60, :end_year => Date.today.year - 12, :order => [:month, :day, :year]
      -# email address
      .span-24.last
        = f.simple_fields_for :email_addresses do |email_form|
          = email_form.input :address, :label => 'Email Address', :required => false, :hint => 'used for notifications + reminders'
      -# location
      .span-24.last
        = f.simple_fields_for :city do |city_form|
          -# city
          = city_form.input :name, :label => 'Location', :hint => 'your default city', :required => true, :input_html => {'data-url' => search_locations_path(:google), :value => f.object.city.try(:city_state), :id => 'user_city_name', :autocomplete => 'off'}
        = hidden_field_tag :location_changed, 0
      -#.span-24.last
        -#= f.simple_fields_for :availability do |avail_form|
          -#= avail_form.input :now, :label => 'Available Today', :hint => "you're available to meet today"
      .span-19.prepend-1.last
        = f.submit 'Update', :class => 'big', :id => 'edit_user_submit'
        or
        %span{:style => 'padding-left: 3px;'}= link_to 'No Changes', root_path, :class => 'admin', :style => 'font-size: 1.5em;'
