- javascript('settings')

.left-col
  #profile-recent-checkins.clearfix
    #recent-checkins-title.titlebar.left My Settings

%hr.space

.span.16.last
  = display_flash(:all)
  = display_alerts

.span-15.last
  -# initialize nested objects
  - @user.email_addresses.build if @user.email_addresses_count == 0
  - @user.city ||= City.new
  - @user.build_availability if @user.availability.blank?

  = simple_form_for(@user, :url => settings_path(:return_to => @goto_path || root_path)) do |f|
    -# handle is not editable
    -#.span-24.last
      -# handle
      -#= f.input :handle, :hint => 'your name on the site'
    -# gender and orientation
    .span-15.last
      = f.input :gender, :collection => [['Female', 'female'], ['Male', 'male']], :selected => @user.gender_name, :required => true

    - if false
      .span-15.last
        = f.input :orientation, :collection => [['Gay', 'gay'], ['Straight', 'straight']], :selected => @user.orientation_name, :required => true
      -# birthdate
      .span-15.last
        = f.input :birthdate, :as => :date, :start_year => Date.today.year - 60, :end_year => Date.today.year - 15, :order => [:month, :day, :year], :required => true

    -# email address
    .span-15.last
      = f.simple_fields_for :email_addresses do |email_form|
        = email_form.input :address, :label => 'Email Address', :required => true, :input_html => {:class => 'required email', :id => 'user_email'}

    -# location
    .span-15.last
      = f.simple_fields_for :city do |city_form|
        -# city
        = city_form.input :name, :label => 'Location', :required => true, :input_html => {'data-url' => search_locations_path(:google), :value => f.object.city.try(:city_state), :id => 'user_city_name', :autocomplete => 'off'}
      = hidden_field_tag :location_changed, 0

    .span-15.last{:style => 'margin: 5px 0;'}
      - if @user.foursquare_oauth.blank?
        %strong Link your accounts:
        %br
        %label{:for => "foursquare"}= link_to 'Foursquare', user_omniauth_authorize_path(:foursquare)
        %span{:style => 'display: block; margin-top: 5px;'} Link this account so Outlate.ly can notify your friends when you check-in on Foursquare
      - else
        %label{:for => "foursquare"} Foursquare
        %span{:style => 'display: block; margin-top: 5px;'} Account linked

    .span-15.last{:style => 'margin: 5px 0;'}
      Outlate.ly will send you notification emails when someone you're following checks-in ...

    .span-15.last
      %label{:for => "follow_all_checkins_email"} Anywhere
      = f.check_box :preferences_follow_all_checkins_email, :id => 'follow_all_checkins_email', :class => 'checkbox'

    .span-15.last
      %label{:for => "follow_nearby_checkins_email"} Near Me
      = f.check_box :preferences_follow_nearby_checkins_email, :id => 'follow_nearby_checkins_email', :class => 'checkbox'
      %span.hint based on your last checkin in the past 24 hours or your default location

    -#.span-24.last
      -#= f.simple_fields_for :availability do |avail_form|
        -#= avail_form.input :now, :label => 'Available Today', :hint => "you're available to meet today"

    .span-15.prepend-1.last{:style => 'margin: 20px 0;'}
      = f.submit 'Update', :id => 'edit_user_submit', :style => 'font-size: 1.3em;'
      %span{:style => 'margin: 3px; display: block;'}
        &nbsp;or
        = link_to 'No Changes', root_path, :style => 'font-size: 1.1em; color: #00f;'
