<div id="page-header">
  <h2>Social Stream</h2>
  <ul id="social-stream-nav">
    <li class="active"><%= link_to("Ladies", '#') %></li>
    <li><%= link_to("Friends", '#') %></li>
    <li><%= link_to("Everyone", '#') %></li>
  </ul>
</div>
<div id="content" class="clearfix">
  <div class="half-col">
    <ul id="social-stream">
      <li>
        <%= image_tag("/images/temp-avatar2.jpg", :alt => 'social stream avatar') %>
        <h4>kbell20 <small>14 minutes ago</small></h4>
        <h3>Liberty Hotel</h3>
        <div id="actions">
          <%= link_to("Go Here", '#') %>
          <%= link_to("Meet Her", '#') %>
        </div>
      </li>
      <li>
        <%= image_tag("/images/temp-avatar2.jpg", :alt => 'social stream avatar') %>
        <h4>kbell20 <small>14 minutes ago</small></h4>
        <h3>Liberty Hotel</h3>
        <div id="actions">
          <%= link_to("Go Here", '#') %>
          <%= link_to("Meet Her", '#') %>
        </div>
      </li>
      <li>
        <%= image_tag("/images/temp-avatar2.jpg", :alt => 'social stream avatar') %>
        <h4>kbell20 <small>14 minutes ago</small></h4>
        <h3>Liberty Hotel</h3>
        <div id="actions">
          <%= link_to("Go Here", '#') %>
          <%= link_to("Meet Her", '#') %>
        </div>
      </li>
      <li>
        <%= image_tag("/images/temp-avatar2.jpg", :alt => 'social stream avatar') %>
        <h4>kbell20 <small>14 minutes ago</small></h4>
        <h3>Liberty Hotel</h3>
        <div id="actions">
          <%= link_to("Go Here", '#') %>
          <%= link_to("Meet Her", '#') %>
        </div>
      </li>
    </ul>
  </div>
  <div class="half-col right">
    <div id="map">
      <%= image_tag("/images/temp-map.jpg") %>
    </div>
  </div>
</div>