- javascript('invitations')

#page-header
  %h2 Invite Friends

#content.clearfix
  = display_flash(:all)
  = display_alerts
  
  #invite-friends
    %h3 Your Friends
    %ul
      %li
        %img{:src => "/images/rondo.jpg"}
        %h4 Rajon Rondo
        %h5 43 check ins
    
  #invite
    .last#to
      %label{:for => 'search_invitee_autocomplete'} To:
    - if @to
      -# user specific help text
      %h4 Invite '#{@to.handle}' by typing in their email address below
    - else
      -# general help text
      
    .last#invitees

      = text_field_tag :invitee, '', :id => 'search_invitee_autocomplete',  'data-search-url' => invitee_search_path(:format => 'json'), 'data-submit-text' => 'Add', 'data-submit-url' => '', 'data-waiting' => 'adding ...', 'data-return-to' => request.fullpath, :placeholder => 'e.g. user@gmail.com'
      %span.hint#search_invitees_hint

    %div
      = form_for @invitation, :url => invite_path, :html => {:class => 'invite'} do |f|
        .last
          %label{:for => 'invitation_subject'} Subject:
        .last
          = f.text_field :subject, :value => I18n.t("invite.subject", :name => current_user.handle)
        .last
          %label{:for => 'invitation_body'} Body:
        .last
          = f.text_area :body, :value => I18n.t("invite.body")
        -# list of invitees email addresses
        = text_field_tag :invitees, '', :style => 'display: none;'
        %p
          = f.submit "Send", :disabled => true

