- location = checkin.location

- if user.member?
  %li.span-16.last
    .member.yes
    - if current_user.following_ids.include?(user.id)
      = link_to 'Unfollow', unfollow_user_path(user, :return_to => request.fullpath), :method => :put, :class => 'follow-action'
    - else
      = link_to 'Follow', follow_user_path(user, :return_to => request.fullpath), :method => :put, :class => 'follow-action'
    .picture
      -# user profile link
      = link_to image_tag(user.primary_photo_url, :alt => user.handle, :size => '35x35'), user_path(user)
    .user-info
      %h4= link_to user.handle, user_path(user)
      %h5= link_to checkin_time_ago(checkin.checkin_at), '#'
    %h3
      = link_to location.try(:name), '#'
      - wall = Wall.find_or_create(:checkin => checkin)
      = link_to 'Post Wall Message', "#", :class => 'location-comment-count wall-message modal-trigger', :rel => '#wall-message-overlay', 'data-id' => wall.try(:id).to_i, 'data-name' => location.name, 'data-members-count' => 5
    = link_to 'Message', '#', :class => 'invite message modal-trigger', :rel => '#user-message-overlay', 'data-id' => user.id, 'data-handle' => user.handle
- else
  -# non-member
  %li.span-16.last
    .member.no
    - if current_user.following_ids.include?(user.id)
      = link_to 'Unfollow', unfollow_user_path(user, :return_to => request.fullpath), :method => :put, :class => 'follow-action'
    - else
      = link_to 'Follow', follow_user_path(user, :return_to => request.fullpath), :method => :put, :class => 'follow-action'
    .picture
      -# user profile link
      = link_to image_tag(user.primary_photo_url, :alt => user.handle, :size => '35x35'), user_path(user)
    .user-info
      %h4= link_to user.handle, user_path(user)
      %h5= link_to checkin_time_ago(checkin.checkin_at), '#'
    %h3= link_to location.try(:name), '#'
    -# invite link
    = link_to invite_path, :class => 'invite' do
      = image_tag("/images/plus.png", :alt => 'invite')
      Invite
