- location = checkin.location

- if user.member?
  %li.span-16.last
    .member.yes
    .picture
      -# user profile link
      = link_to image_tag(user.primary_photo_url, :alt => user.handle, :size => '35x35'), user_path(user)
    .user-info
      %h4= link_to user.handle, '#'
      %h5= link_to checkin_time_ago(checkin.checkin_at), '#'
    %h3= link_to location.try(:name), '#'
    .actions
      -# click to show menu, not hover. add class .open to this div to show menu
      = image_tag("/images/actions.png", :alt => 'actions menu')
      %span
        %ul
          %li= user.handle
          %li= link_to 'Send Message', compose_message_user_path(user.id, 'checkin', checkin.id)
          -#%li= link_to 'Post to Wall', compose_wall_post_path('checkin', checkin.id)
          %li= link_to 'View Profile', user_path(user)
          - if @following_ids.include?(user.id)
            %li= link_to 'Unfollow', unfollow_user_path(user, :return_to => request.fullpath), :method => :put
          - elsif current_user.friend_set.include?(user.id)
            -# users can follow friends
            %li= link_to 'Follow', follow_user_path(user, :return_to => request.fullpath), :method => :put
- else
  -# non-member
  %li.span-16.last
    .member.no
    .picture
      -# user profile link
      = link_to image_tag(user.primary_photo_url, :alt => user.handle, :size => '35x35'), user_path(user)
    .user-info
      %h4= link_to user.handle, user_path(user)
      %h5
    %h3= link_to location.try(:name), '#'
    -# invite link
    = link_to invite_path, :class => 'invite' do
      = image_tag("/images/plus.png", :alt => 'invite')
      Invite
