#member-title Member?

= display_flash(:all)

.span-16.last.mask
  %ul#home-checkins
    - if @friends_out_now.empty?
      %div{:style => 'padding: 10px; background-color: #FFFBE0;'}
        %h4
          You don't have any friends out right now.
          %p
          Use the #{link_to('search', search_path)} feature to find people to follow or
          #{link_to('invite', invite_path)} your friends to sign up and follow you.

    - @friends_out_now.each_pair do |user, checkins|
      = render(:partial => 'checkin', :locals => {:user => user, :checkin => checkins[0]})

.span-16.last.mask
  #home-following.tipsy
    #home-following-title.titlebar.left Friends Out Recently
    - @friends_out_recently.each_pair do |user, checkins|
      - checkin = checkins.first
      = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => "#{user.handle} @ #{checkin.location.try(:name)}", :class => 'tile'

.span-16.last.mask
  #home-following.tipsy
    #home-following-title.titlebar.left Outlate.ly Following
    - if @following.empty?
      %div{:style => 'padding: 10px; background-color: #FFFBE0;'}
        %h4{:style => 'font-size: 1.5em; line-height: 20px;'}
          Hey, you're not following anyone.  When you follow someone, you'll get an email as soon as they check-in somewhere.
          Use the #{link_to('search', search_path, :style => 'float: none;')} feature to find people to follow.

    - @following.each do |user|
      = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle, :class => 'tile'

.span-16.last.mask
  #home-following.tipsy
    #home-following-title.titlebar.left Outlate.ly Followers
    - if @followers.empty?
      %div{:style => 'padding: 10px; background-color: #FFFBE0;'}
        %h4{:style => 'font-size: 1.5em; line-height: 20px;'}
          Doh, you don't have any followers.  When your friends follow you, they'll get an email when you check-in somewhere.  Invite them #{link_to('here', invite_path, :style => 'float: none;')}.

    - @followers.each do |user|
      = link_to image_tag(user.primary_photo_url, :size => '35x35'), user_path(user), :style => 'margin: 0 2px;', :title => user.handle, :class => 'tile'

-# user message overlay
= render(:partial => 'shared/user_message_overlay', :locals => {:sender => current_user})
-# wall message overlay
= render(:partial => 'shared/wall_message_overlay', :locals => {:sender => current_user})