- javascript('plans', 'location_search')

#page-header
  .span-23.prepend-1.last
    %h2= @title

#content.clearfix
  .span.24.last
    = display_flash(:all)

  .span.24.last#newbie.notice
    %h4{:style => 'font-size: 1.3em; line-height: 1.5em;'}
      Step #{@step} of 3:
      - case @step
      - when 2
        %p
        Checkins are the way you build your profile on Outlately.  Each time you checkin, you'll get an email with similar checkins around you.
        %p
        Tell us a place you love going.
      - when 3
        %p
        By planning a checkin, you enable people to express interest in meeting up or buying you a drink.  You can see their authentic Facebook profile information and decide if you are interested.
        %p
        Tell us a place you plan to go.

  .span-23.prepend-1.last.search_places_autocomplete_form#todo_search
    .span-23.last
      %span#help Use the search box below to add a place.
    .span-23.last
      = text_field_tag :search, '', :id => 'search_places_autocomplete',  'data-search-url' => search_locations_path(:foursquare, :format => 'json'), :placeholder => 'e.g. starbucks'
      %span#hint{:style => 'margin-left: 5px;'}
      #place.hide
    .span-23.last
      = link_to 'Add', '#', :id => 'add_todo', 'data-url' => @data_url, 'data-disable-with' => 'adding ...', 'data-return-to' => @data_goto
