- title('Plans')
- javascript('location_search')

- content_for :mat do
  %h2 Planned Checkins

%hr.space

.span.24.last
  = display_flash(:all)

%hr.space

.span-23.prepend-1
  %h3
    You have #{pluralize(@locationships.size, "planned checkin")} on your list
    %span{:style => 'padding: 0 5px; font-size: 0.8em;'}= link_to 'Add More', '#', :id => 'show_live_search_places_form', :class => 'admin'

.span-23.prepend-1.last.live_search_places_form.hide
  %h4
    %span{:style => 'color: #060;'} Use the search box below to find and add places you plan to go to.
    %span{:style => 'padding: 0 5px; font-size: 0.9em;'}= link_to 'Nevermind', '#', :id => 'hide_live_search_places_form', :class => 'admin'
  = text_field_tag :search, '', :id => 'live_search_places',  'data-search-url' => search_locations_path(:foursquare, :format => 'json'), 'data-submit-text' => 'Add', 'data-submit-url' => add_todo_location_path(:format => 'js'), 'data-pending-text' => 'adding ...', 'data-return-to' => request.fullpath, :placeholder => 'e.g. starbucks'
  %span.hint#search_places_hint
  %br
  %span.query#search_places_query
  #search_results

.span-24.last#todos
  - @locationships.each do |locationship|
    .span-24.last.location.padding-bottom-10
      = render(:partial => 'plans/todo_location', :locals => {:locationship => locationship})
