- title('Plans')
- javascript('plans', 'location_search')

#page-header
  .span-23.prepend-1.last
    %h2 Planned Checkins

#content.clearfix
  .span.24.last
    = display_flash(:all)

  .span-23.prepend-1#todo_header
    %h3
      You have #{pluralize(@pcheckins.size, "planned checkin")} on your list
      %span{:style => 'padding: 0 5px; font-size: 0.8em;'}= link_to 'Add More', '#', :id => 'show_search_places_autocomplete_form', :class => 'admin'

  .span-23.prepend-1.last.search_places_autocomplete_form.hide#todo_search
    .span-23.last
      %span#help Use the search box below to add planned checkins.
      %span{:style => 'padding: 0 5px; font-size: 0.9em;'}= link_to 'Nevermind', '#', :id => 'hide_search_places_autocomplete_form', :class => 'admin'
    .span-23.last
      = text_field_tag :search, '', :id => 'search_places_autocomplete',  'data-search-url' => search_locations_path(:foursquare, :format => 'json'), :placeholder => 'e.g. starbucks'
      %span#hint{:style => 'margin-left: 5px;'}
      #place.hide
    .span-23.last
      = link_to 'Add', '#', :id => 'add_todo', 'data-url' => add_todo_location_path(:format => 'js'), 'data-disable-with' => 'adding ...', 'data-return-to' => request.fullpath

  .span-24.last#todos
    - @pcheckins.each do |pcheckin|
      .span-24.last.location.padding-bottom-10
        = render(:partial => 'plans/todo_location', :locals => {:pcheckin => pcheckin})
