.span-11.last#description{:style => 'font-size: 1.1em; line-height: 1.5em;'}
  <strong>#{user.handle}</strong> is not an Outlately member. Invite #{user.him_her}.
  %p
  If you know #{user.him_her} email address, click #{link_to('here', invite_path)} to send an invite.  Otherwise, have #{user.handle}'s friend send the invite by using the button below.  #{user.handle} will get an invite from #{user.him_her} friend, and we'll send you a message when #{user.he_she} signs up.
.span-3#actions{:style => 'margin: 20px 0;'}
  = link_to(I18n.t("user.profile.invite", :name => user.him_her.titleize), '#', :id => 'invite_user')
