- title('Checkins')

- content_for :mat do
  %h2 Checkins
  %h4 #{user_display_name(@user, current_user, 'Me')}

%hr.space

.span-23.prepend-1.last
  - checkin_title = "#{@search.capitalize} Checkins"
  - checkin_title += (@city and @radius) ? ", #{@radius} miles around #{@city.name.titleize}" : ', Anywhere'
  %h4
    %span#checkin_title= checkin_title
    %span#checkin_count returned #{pluralize(@checkins.size, 'Checkin')}
  %h4
    City:
    - radius = @radius || 50
    - ['Boston', 'Chicago', 'New York', 'San Francisco'].each do |s|
      %span{:style => 'padding-right: 3px;'}= link_to s, url_for(:city => "city:#{s.parameterize}", :radius => "radius:#{radius}", :search => @search)
    Radius:
    - city = @city.try(:name) || 'chicago'
    - [5, 10, 25, 50, 100, 250, 1000, 2000].each do |x|
      %span{:style => 'padding-right: 3px;'}= link_to "#{x}", url_for(:city => "city:#{city.parameterize}", :radius => "radius:#{x}", :search => @search)
    Stream:
    - ['all', 'daters', 'friends', 'my', 'others'].each do |s|
      %span{:style => 'padding-right: 3px;'}= link_to s.titleize, url_for(:search => s)

.span-23.prepend-1.last#checkins
  - @checkins.sort_by{|c| -1 * c.checkin_at.to_i}.each do |checkin|
    = render(:partial => 'home/checkin', :locals => {:checkin => checkin})
    / .span-23.last.padding-bottom-5
    /   .span-7= checkin.location.try(:name)
    /   .span-16.last= checkin.checkin_at.to_s(:datetime)
