- tag_link  ||= false
- edit_link ||= false

.span-10.prepend-1.name
  - if edit_link
    = link_to location.name, edit_location_path(location), :class => :admin
  - else
    = location.name
  %br
  - tag_list = location.tag_list
  - if tag_list.any?
    %span.tags= location.tag_list.join(', ')
  - if tag_link
    %span.add_tags= link_to 'Add Tags', tag_location_path(location)
  %br
  - location.location_sources.each do |ls|
    %span.sources= ls.source_type + ":" + ls.source_id
    %br
.span-9.last.address
  %span.street= location.street_city
  %br
  %span.latlng== #{location.lat}, #{location.lng}

- if false
  .span-7.last.tags
    - if location.tag_list.blank? and import
      -# check if location was checked for tags
      - if location.location_sources.any? { |ls| ls.tagged_at.blank? }
        = link_to 'Import Tags', import_tags_location_path(location), :class => 'admin'
    - else
    %span{:style => 'font-size: 0.9em;'}= location.tag_list.join(', ')