- category = 'default' unless local_assigns[:category]
- locations.each do |location|
  - next unless location.mappable?
  .map-location{'data-location-id' => location.id, 'data-jmapping' => "{id: #{location.id}, point: {lat: #{location.lat}, lng: #{location.lng}}, category: '#{category}'}"}
    = link_to location.name, '#', :class => 'map-link', :style => 'color: #999;'
    .info-box
      %p== #{location.name}, #{location.city}
