- tag_link  ||= false
- edit_link ||= false

.span-10.prepend-1
  - if edit_link
    %span.name= link_to location.name, edit_location_path(location), :class => :admin
  - else
    %span.name= location.name
  %br
  - if location.street_city.present?
    %span.street= location.street_city
    %br
  - if has_role?('admin')
    %span.latlng== #{location.lat}, #{location.lng}
    %br

.span-5.last
  - tag_list = location.tag_list
  - if tag_list.any? or tag_link
    - if tag_list.any?
      %span.tags= location.tag_list.join(', ')
    - else
      No Tags
    %br
    - if tag_link
      %span.add_tags= link_to 'Add Tags', tag_location_path(location)
      %br
    %br
  - if false #has_role?('admin')
    - location.location_sources.each do |ls|
      %span.sources= ls.source_type + ":" + ls.source_id
      %br

.span-8.last
  - badges = location.tag_ids.map { |tag_id| Badge.search(tag_id).collect(&:name) }.flatten
  - if badges.any?
    %span.badges= badges.join(", ")
  - else
    No Badges
  %br
  - if true
    %span.add_badges= link_to 'Add Badges', '#'

- if false
  .span-7.last.tags
    - if location.tag_list.blank? and import
      -# check if location was checked for tags
      - if location.location_sources.any? { |ls| ls.tagged_at.blank? }
        = link_to 'Import Tags', import_tags_location_path(location), :class => 'admin'
    - else
    %span{:style => 'font-size: 0.9em;'}= location.tag_list.join(', ')