- title('Edit Location')
- javascript('locations')

- content_for :mat do
  .span-23.last.padding-bottom-10
    %h2.bottom Edit Location
    = link_to 'Back', locations_path, :class => 'admin'

%hr.space

.span-24.last#location
  = render(:partial => 'locations/location', :locals => {:location => @location, :import => true, :link => :none})
  
%hr.space

.span-24.last
  .prepend-1= link_to 'Search Foursquare Venues', '#', :id => 'search_foursquare', :class => 'admin', 'data-url' => '/locations/geocode/foursquare', 'data-query' => @location.name, 'data-lat' => @location.lat, 'data-lng' => @location.lng, 'data-results' => 'search_foursquare_results'
  = simple_form_for @location, :url => "/" do |f|
    = f.input :street_city, :label => 'Search results', :collection => [], :prompt => 'Click here', :hint => 'foursquare venues list', :input_html => {:id => 'search_foursquare_results'}
