- title('Tag Location')
- javascript('locations')

#page-header
  %h2.bottom Tag Location '#{@location.name}'
  -#= link_to 'Back', locations_path, :class => 'admin'

#content.home-content.clearfix
  .span-24.last
    = display_flash(:all)

  #locations
    .span-24.last.location
      = render(:partial => 'locations/location', :locals => {:location => @location})

  %hr.space

  .span-24.last
    %h3.prepend-1 Help make outlately better by tagging locations and earning points!
    = render(:partial => 'locations/location_add_tags', :locals => {:location => @location})

:javascript
  var growls = #{flash[:growls].blank? ? nil.to_json : flash[:growls].to_json};
