!!! 5
%html
  %head
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= yield(:title).to_s + " | Social Intrigue"
    = csrf_meta_tag
    = stylesheet_link_tag 'blueprint/screen', 'walnut', 'orange', :cache => true
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    -#= stylesheet_link_tag :all
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', |
      'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', 'jquery-ujs'
    = yield :javascript
    = yield :head

  %body
    #header
      .container
        = render(:partial => "shared/header_links")

    -# main container
    .container#container{:class => $BlueprintGrid ? 'showgrid' : ''}
      .span-24.last
        = display_flash
      = yield
