!!! 5
%html
  %head
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= yield(:title).to_s + " | Outlate.ly"
    = csrf_meta_tag
    %link{:rel => "icon", :href =>"/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'redesign'
    = stylesheet_link_tag 'forms'
    -#= stylesheet_link_tag 'outlately'  # overrides redesign
    = stylesheet_link_tag 'growl'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/black-tie/jquery-ui.css'
    = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css"
    = stylesheet_link_tag 'tipsy'
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    = yield :stylesheet
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    -# include jquery tools before jquery ui
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js'
    = javascript_include_tag 'rails' # jquery-ujs implementation, supports jquery 1.4.4
    = javascript_include_tag 'jquery.growl'
    = javascript_include_tag 'jquery.fancybox-1.3.4.pack'
    = javascript_include_tag 'jquery.validate.min'
    = javascript_include_tag 'jquery.tipsy'
    = javascript_include_tag 'jquery.autoresize.min'
    = javascript_include_tag 'hash'
    = javascript_include_tag 'less'
    = javascript_include_tag 'application'
    = yield :javascript
    = yield :head

  %body
    -# show query reviewer if enabled in dev environment
    - if Rails.env == 'development' and respond_to?(:query_review_output)
      = query_review_output

    - if user_signed_in?
      #header.wrapper.clearfix
        -# invite friends
        = link_to invite_path, :id => 'invite-friends' do
          = image_tag("/images/plus.png", :alt => 'invite friends')
          Invite Friends

        #top-right
          Welcome
          = link_to current_user.try(:handle), '#'
          = link_to 'sign out', logout_path

      %ul#nav.clearfix
        %li#home= link_to 'Home', root_path
        %li#profile= link_to 'Profile', user_path(current_user)
        %li#logo= link_to raw("<h1>Outlate.ly</h1>"), '/'
        %li#nav-stem-left
        %li#nav-stem-right
        %li#activity= link_to 'Activity', '#'
        %li#settings= link_to 'Settings', settings_path

    - else
      #header.wrapper.clearfix
        %p{:style => 'margin: 20px;'}

    #content.clearfix
      = yield

    #footer.wrapper
      &copy; 2011 Outlately

    -# uservoice feedback
    = render :partial => 'layouts/uservoice'
    -# google analytics
    = render :partial => 'layouts/google_analytics'
    - if Rails.env == 'production'
      -# gosquare realtime analytics
      = render :partial => 'layouts/gosquared_analytics'
