!!! 5
%html
  %head
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= yield(:title).to_s + " | Outlate.ly"
    = csrf_meta_tag
    %link{:rel => "icon", :href =>"/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'redesign'
    = stylesheet_link_tag 'forms'
    = stylesheet_link_tag 'outlately'  # overrides redesign
    = stylesheet_link_tag 'growl'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/black-tie/jquery-ui.css'
    = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css"
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    = yield :stylesheet
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    -# include jquery tools before jquery ui
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js'
    = javascript_include_tag 'rails' # jquery-ujs implementation, supports jquery 1.4.4
    = javascript_include_tag 'jquery.growl'
    = javascript_include_tag 'jquery.fancybox-1.3.4.pack.js'
    = javascript_include_tag 'jquery.validate.min.js'
    = javascript_include_tag 'hash'
    = javascript_include_tag 'application'
    = yield :javascript
    = yield :head

  %body{:class => controller.controller_name}
    -# show query reviewer if enabled in dev environment
    - if Rails.env == 'development' and respond_to?(:query_review_output)
      = query_review_output
    #header
      .wrapper
        %h1= link_to("Outlately", '#')
        %ul#nav
          - if user_signed_in?
            %li#nav-home= link_to("Home", root_path)
            %li#nav-my-profile= link_to("My Profile", profile_path)
            %li#nav-plans= link_to("Plans", plans_path)
            %li#nav-invitations= link_to("+ Invite Friends", invite_path)
            %li#nav-settings= link_to("Settings", settings_path)
            - if current_user.has_role?('admin')
              %li#nav-admin= link_to("Admin", admin_path)
            %li#nav-sign-out= link_to("Sign Out", logout_path)
          - else
            %li#nav-login= link_to("Login", new_user_session_path)

    - unless ["home#welcome", "sessions#new"].include?(controller_hash_action)
      #sub-header.wrapper.clearfix
        #me
          = image_tag(current_user.try(:primary_photo_url), :size => '64x64', :alt => 'my avatar')
          %h2= current_user.try(:handle)
          %h4= current_user.city.try(:name).to_s + ", " + current_user.age.to_s
          #my-points
            #points
              #points-top
                = link_to("?", "#dialog-points-info", :id => "points-info")
                %div.hide
                  #dialog-points-info= I18n.t("about.points")
                #screen= current_user.try(:points).to_i
                %span Points
            = link_to("Get More Points", '#', :id => 'get-more-points', 'data-url' => add_bucks_user_path(current_user, 100), 'data-method' => 'put')
        = link_to("What is Outlately?", about_path(:dialog => '1'), :id => 'what-is-outlately')

    #main.wrapper.container
      = yield

    #footer.wrapper
      %span &copy; 2011 Outlately


    -# uservoice feedback
    = render :partial => 'layouts/uservoice'
    -# google analytics
    = render :partial => 'layouts/google_analytics'