- title('Accounts')

.span-23.prepend-1.mat
  %h2== Accounts

%hr.space

.span.24.last
  = display_flash(:all)

.span-24.last#accounts
  - ['foursquare', 'facebook'].each do |service|
    .span-23.prepend-1.last
      .span-5
        %h3= service
      .span-5.last
        - if @oauth_hash[service]
          == Account linked
          = link_to 'Unlink', unlink_account_path(service), :method => :delete, :confirm => 'Are you sure', :class => 'admin', :style => 'margin-left: 5px;'
          =#= @oauth_hash[service].access_token
        - else
          - if service.to_sym == :foursquare
            %h5= link_to("Link to Account", oauth_initiate_path(:foursquare), :class => 'admin') rescue nil
          - else
            %h5= link_to("Link to Account", user_oauth_authorize_url(service.to_sym), :class => 'admin') rescue nil
    
